/* General formatting */
body {
  padding: 0 10px;
  font: 18px/1.5 -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "Segoe UI", "lucida grande", "helvetica neue", helvetica, "Fira Sans",
    roboto, noto, "Droid Sans", cantarell, oxygen, ubuntu,
    "franklin gothic medium", "century gothic", "Liberation Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

/* Narrow Column */
.content-column {
  max-width: 65%;
  margin: 40px auto;
}

#legend {
    opacity: 0.2;
    fill: #2c3e50;
}

.vis-y-axis {
  display: flex;
  align-items: center;
}

.vis-x-axis {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* Full-width and Full-height */
.vis-holder {
  width: 100%;
  height: 100%;
}

#axisX {
  width: 130px;
  height: 20px;
}

#axisY {
  width: 130px;
  height: 20px;
  padding-right: 10px;
}


th, td {
    border-bottom: 1px solid #CCC;
    padding: 10px;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(20, 50%, 70%);
}

tbody {
  overflow: scroll;
  height: 20px;
}

.table-container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 4px;
    max-height: 500px;
    overflow-y: scroll;
}